<form action="/cars" method="post">
  <label for="makeModel">Make and Model</label>
  <input id="makeModel" name="makeModel" type="text"><br>
  <label for="price">Price</label>
  <input id="price" name="price" type="text"><br>
  <label for="miles">Mileage</label>
  <input id="miles" name="miles" type="text"><br>
  <button type="submit">Submit</button>
</form>
